<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iba103.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19EBBBC31D827493000C8BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19EBBBDC1D827494000C8BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19EBBBE71D827494000C8BE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
